<div class="container">
    <div class="top-banner">
        <img class="banner" src="banner 1.png" alt="Tik tok banner">
    </div>

    <main>
        <h2>Promociones del 27 de Agosto al 9 de Septiembre 2025</h2>

        <div class="promo-container">
            <img class="promo" src="promo/promo banner 1.webp" alt="Banner promocional 1">
            <img class="promo" src="promo/promo banner 2.webp" alt="Banner promocional 2">
            <img class="promo" src="promo/promo banner 3.webp" alt="Banner promocional 3">
        </div>

        <div class="promo-container">
            <img class="promo" src="promo/promo banner 4.webp" alt="Banner promocional 4">
            <img class="promo" src="promo/promo banner 5.webp" alt="Banner promocional 5">
            <img class="promo" src="promo/promo banner 6.webp" alt="Banner promocional 6">
            <img class="promo" src="promo/promo banner 6.webp" alt="Banner promocional 7">
        </div>
    </main>

    <div class="bottom-banner">
        <img class="banner" src="banner 2.webp" alt="Bebida Amper banner">
    </div>

    <div class="video">
        <h2>Da click a nuestros videos en YouTube</h2>

        <div class="video-container">
            <div class="iframe-parent">
                <iframe src="https://www.youtube.com/embed/rPaeNoeOiX0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="iframe-parent">
                <iframe src="https://www.youtube.com/embed/xCp6ijzht5s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="iframe-parent">
                <iframe src="https://www.youtube.com/embed/oGL0ix-hUCc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>