<section class="container">
    <img class="logo" src="logo.png" alt="Grupo Zorro Logo">
    <img class="advertisement" src="advertisement.gif" alt="Gif promocional de Grupo Zorro">
    <div class="contact">
        <div class="item">
            <mat-icon fontIcon="call"></mat-icon>
            <div>
                <p>5245-2750 Clientes</p>
                <p>5245-2720 Proveedores</p>
            </div>
        </div>

        <div class="item">
            <mat-icon fontIcon="mail"></mat-icon>
            <p>atencionzorro&#64;asezor.com</p>
        </div>
    </div>
</section>