ul {
    list-style-type: none;
    margin: 0;
    padding-block: 1rem;
    overflow: hidden;
    background-color: var(--mat-sys-tertiary);
    font-weight: bold;
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: var(--mat-sys-surface);
}

.selected {
    color: gold;
}