<div class="container">
    <div class="col">
        <img src="logo.png" alt="Grupo Zorro Logo">
        <p>Grupo Zorro Abarrotero es una empresa 100% mexicana, líder en el sector retail que por más de 35 años se ha consolidado como la número 1 en ventas dentro del sector mayorista.</p>
    </div>

    <div class="col">
        <p class="title">CONTACTO</p>
        <p>Vialidad de la Barranca No. 6, Huixquilucan, Estado de México.</p>
        <p>Clientes. 5245-2750</p>
        <p>Proveedores. 5245-2720</p>
        <p>atencionzorro&#64;asezor.com</p>
    </div>

    <div class="col">
        <p class="title">ENLACES</p>
        <p>¿Quieres ser proveedor?</p>
        <p>Promociones</p>
        <p>Sucursales</p>
        <p>Marcas exclusivas</p>
        <p>Categorias</p>
        <p>Comunidad RED</p>
        <p>Formas de pago</p>
    </div>

    <div class="col">
        <p class="title">AVISO DE PRIVACIDAD</p>
        <p>TÉRMINOS Y CONDICIONES</p>
        <p class="title">DERECHOS ARCO</p>
        <p>¡AVISO IMPORTANTE!</p>
    </div>
</div>

<div class="line">
    <p>© 2025 Derechos Reservados. “Zorro Abarrotero” Sitio creado por Zorro Abarrotero y Tendencia Digital</p>
</div>